{% extends 'base.html' %}

{% block content %}
    <h1>Essential Ease</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <h5>Persediaan</h5>
    <p>Di Essential Ease terdapat {{item_count}} item</p>
<style>
        table th, table td {
           padding-left: 20px; /* Add padding to the left for each cell */
           padding-right: 20px; /* Add padding to the right for each cell */
       }
</style>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
 
    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
 
    {% for item in items %}
        <tr>
            <td style="padding: 5px;">{{ item.name }}</td>
            <td style="padding: 5px;">{{ item.category }}</td>
            <td style="padding: 5px;">{{ item.description }}</td>
            <td style="padding: 5px;">{{ item.price }}</td>
            <td style="padding: 5px;">{{ item.amount }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column;">
                        <button type="submit" name="increment" value="{{ item.id }}">
                            + Amount
                        </button>
                        <button type="submit" name="decrement" value="{{ item.id }}">
                            - Amount
                        </button>
                        <button type="submit" name="delete" value="{{ item.id }}">
                            Delete
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    {% endfor %}
 </table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}